<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <style>
    .productItem{float:left;padding:5px;margin:5px;border:1px solid #eaeaea}
body{font-family:verdana}

    /*Setting Basic Dimensions to give 
    gallary view */
    .container{
        margin: 0 auto;
        width: 90%;
    }
    .main_view{
        width: 100%;
        height: 25rem;
    }
    .main_view img{
        width: 500px;
        height: 300px;

    }
    .side_view{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .side_view img{
        width: 9rem;
        height: 7rem;
        object-fit: cover;
        cursor: pointer;
        margin:0.5rem;
    }
</style>
    </style>
    <script>
    $('select').selectpicker();
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


  </head>
  <body>
    <p class="lead text-center">Demo page</p>
 <!--
    <p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Button 1<span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
</svg></span>
  </a>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
    Button 2
  </a>
 
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    button 1 data
  </div>
</div>

<div class="collapse" id="collapseExample2">
  <div class="card card-body">
        button 2 data  
    </div>
</div>



<select class="selectpicker" multiple data-live-search="true">
  <option>Mustard</option>
  <option>Ketchup</option>
  <option>Relish</option>
</select>


<select class="form-select">
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
--> 



<!--

<br>
<br>
<br>

 <div class="container mt-5"> 
<div class="row justify-content-md-center">
<div class="col-lg-3" >
  <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
    <a href="#" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">


    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 14">
  <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
</svg>
      <span class="fs-5 fw-semibold ms-3">Filter</span>
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed mybtn" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
          Gender
        </button>
        <div class="collapse show" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <div class="form-check ms-4">
                   <input class="form-check-input" type="checkbox" id="men" value="men">
                  <label class="form-check-label" for="flexCheckDefault">
                   Man
                  </label>
              </div>
              <div class="form-check ms-4">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Women
                  </label>
              </div>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed mybtn" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
          Brands
        </button>
        <div class="collapse" id="dashboard-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <div class="form-check ms-4">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Women
                  </label>
              </div>
              <div class="form-check ms-4">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Women
                  </label>
              </div>
              <div class="form-check ms-4">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Women
                  </label>
              </div>
              <div class="form-check ms-4">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Women
                  </label>
              </div>
              <div class="form-check ms-4">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Women
                  </label>
              </div>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed mybtn" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
          Size
        </button>
        <div class="collapse" id="orders-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <div class="form-check ms-4">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Women
                  </label>
              </div>
              <div class="form-check ms-4">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Women
                  </label>
              </div>
              <div class="form-check ms-4">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Women
                  </label>
              </div>
              <div class="form-check ms-4">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Women
                  </label>
              </div>
              <div class="form-check ms-4">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Women
                  </label>
              </div>
            </ul>
        </div>
      </li>
      <li class="border-top my-3"></li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed mybtn" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          Color
        </button>
        <div class="collapse" id="account-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
             <div class="form-check ms-4">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Black
                  </label>
              </div>
               <div class="form-check ms-4">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Sliver
                  </label>
              </div>
               <div class="form-check ms-4">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Gold
                  </label>
              </div>
               <div class="form-check ms-4">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Pink
                  </label>
              </div>
          </ul>
        </div>
      </li>
    </ul>
  </div>

</div>
<div class="products" >
<div class="col-lg-2" >
<a href="#" style="text-decoration:none; color:black;"><p><img src="img/a6.jpg" class="card-img" alt="..." height="250px" width="100%" style="object-fit: cover;"></p>
    <p class="text-center mt-5 mb-4">Fossil Chronograph Black Men Watch</p></a>
    <p class="text-center"><b>₹1000000</b> <span class="ms-3 px-3 py-2  text-success" style="border:1px solid; color:;">Cart <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="" class="bi bi-cart-fill" viewBox="0 0 16 16">
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
</svg></span></p> 
</div>
<div class="col-lg-2" >
<a href="#" style="text-decoration:none; color:black;"><p><img src="img/d1.jpg" class="card-img" alt="..." height="250px" width="100%" style="object-fit: cover;"></p>
    <p class="text-center mt-5 mb-4">Fossil Chronograph Black Men Watch</p></a>
    <p class="text-center"><b>₹1000000</b> <span class="ms-3 px-3 py-2" style="border:1px solid; color:purple;">Cart <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="" class="bi bi-cart-fill" viewBox="0 0 16 16">
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
</svg></span></p> 
</div>
<div class="col-lg-2" >
<a href="#" style="text-decoration:none; color:black;"><p><img src="img/d5.jpg" class="card-img" alt="..." height="250px" width="100%" style="object-fit: cover;"></p>
    <p class="text-center mt-5 mb-4">Fossil Chronograph Black Men Watch</p></a>
    <p class="text-center"><b>₹1000000</b> <span class="ms-3 px-3 py-2" style="border:1px solid; color:purple;">Cart <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="" class="bi bi-cart-fill" viewBox="0 0 16 16">
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
</svg></span></p> 
</div>
<div class="col-lg-2" data-category="men" >
<a href="#" style="text-decoration:none; color:black;"><p><img src="img/d6.jpg" class="card-img" alt="..." height="250px" width="100%" style="object-fit: cover;"></p>
    <p class="text-center mt-5 mb-4">Fossil Chronograph Black Men Watch</p></a>
    <p class="text-center"><b>₹1000000</b> <span class="ms-3 px-3 py-2" style="border:1px solid; color:purple;">Cart <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="" class="bi bi-cart-fill" viewBox="0 0 16 16">
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
</svg></span></p> 
</div>
</div>

</div>
</div>
</div>


<br>
<br>
<br>
<article id="filters">
    <section id="price">
        <p id="fHeader">Price</p>
        <input type="checkbox" name="price" value="p1" id="p1" />£0 - £5
        <br/>
        <input type="checkbox" name="price" value="p2" id="p2" />£5 - £10
        <br/>
        <input type="checkbox" name="price" value="p3" id="p3" />£10 - £50
        <br/>
        <input type="checkbox" name="price" value="p4" id="p4" />£50 - £100
        <br/>
        <input type="checkbox" name="price" value="p5" id="p5" />£100 - £500
        <br/>
        <input type="checkbox" name="price" value="p6" id="p6" />£500 - £1000
        <br/>
        <input type="checkbox" name="price" value="p7" id="p7" />£1000 +
        <br/>
    </section>
    <section id="category">
        <p id="fHeader">Category</p>
        <input type="checkbox" name="category" value="instruments" id="instruments" />Instruments
        <br/>
        <input type="checkbox" name="category" value="sheetmusic" id="sheet-music" />Sheet Music
        <br/>
        <input type="checkbox" name="category" value="accessories" id="accessories" />Accessories
        <br/>
    </section>
</article>
<article id="products">
    <ul id="productList">
        <li data-price="p5" data-category="instruments">Buffet B12 Clarinet £400</li>
        <li data-price="p7" data-category="instruments">Yamaha Clarinet £1700</li>
        <li data-price="p6" data-category="instruments">Trevor James Alto Saxophone £700</li>
        <li data-price="p3" data-category="instruments">Aulos Recorder £16</li>
    </ul>
</article>

<br>
<br>

<div class="sidebar">
  <img src="{% static 'img/d1.jpg' %}" height="100px" width="100px">
  <img src="{% static 'img/a6.jpg' %}" height="100px" width="100px">
  <img src="http://placehold.it/70x50">
</div>
<div class="center">
  <img src="http://placehold.it/70x40">
</div>
-->

  <div class="container">
        <!-- Main view of our gallary -->
        <div class="main_view">
            <img src="{% static 'img/d1.jpg' %}" id="main" alt="IMAGE">
        </div>
  
        <!-- All images with side view -->
        <div class="side_view">
            <img src="{{food.product_image.url}}" onclick="change(this.src)">
            <img src="{{food.product_img1.url}}" onclick="change(this.src)">
            <img src="{{food.product_img2.url}}" onclick="change(this.src)">
            <img src="{% static 'img/a4.jpg' %}" onclick="change(this.src)">
        </div>
    </div>

   
    <p>{{food.product_name}}</p>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <srcipt src='js/jquery-3.6.0.min.js' ></script>
    <script type="text/javascript">
        const change = src => {
            document.getElementById('main').src = src
        }
    </script>
  </body>
</html>